<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | About Us</title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>Ruby on Railes make this pages</p>
  </body>
</html>