<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Rails World</a>
    by yoshixmk
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>